@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  font-family: 'Bai Jamjuree', sans-serif;
  text-align: center;
  /* padding: 0 2em; */
}

h1,
h2,
h3 {
  color: hsl(210, 10%, 33%);
}

p {
  font-size: 18px;
  color: hsl(201, 11%, 66%);
}

.hero {
  background: url(./images/bg-header-mobile.png) no-repeat;
  padding: 6em 0;
}

.hero > img {
  margin-bottom: 4em;
}

.download {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button {
  width: 19em;
  border-radius: 2em;
  padding: 1em 2em;
  margin: 0.5em 0;
  color: white;
}

.btn-primary {
  background-color: hsl(171, 66%, 44%);
}

.btn-secondary {
  background-color: hsl(233, 100%, 69%);
}

.used-by {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.used-by > img {
  width: 8em;
  margin: 2em 0;
}

footer {
  background-color: #f5f6f8;
}
